# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# Logs
*.log
logs/
server/server.log

# Build output
dist/
dist-ssr/
build/

# OS files
.DS_Store
**/.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
